.form {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  /* border: 1px solid #eeeeee;
  border-radius: 3px; */
}

.label {
  margin-bottom: 15px;
}

.input {
  margin-left: 26px;
}

.inputt {
  margin-left: 10px;
}

.btn {
  margin: 0 auto;
}
